@using System.Security.Claims;

@using GrandeTravel.Models;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> _userManagerService;
@inject GrandeTravel.Services.IProviderRepository _providerRepo;
@inject GrandeTravel.Services.ICustomerRepository _customerRepo;

@{ 
    string ControllerName = ViewContext.RouteData.Values["Controller"].ToString();
    string ActionName = ViewContext.RouteData.Values["Action"].ToString();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    @*<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />*@
    
    @{
        if ((ControllerName != "Home" || ActionName != "Index") && (ControllerName != "Home" || ActionName != "SinglePage"))
        {
            <link href="~/css/StyleSheet.css" rel="stylesheet" />
        }
        else
        {
            <link href="~/css/StartPageStyleSheet.css" rel="stylesheet" />
        }
    }


</head>
        <body>


            <div class="container">
                
                @{
                    if ((ControllerName != "Home" || ActionName != "Index") && (ControllerName != "Home" || ActionName != "SinglePage"))
                    {
                        <div class="banner">
                            <div class="banner-center">
                                <div class="banner-image">
                                    @if (ControllerName != "Home" || ActionName != "Index")
                                    {
                                        <a asp-controller="Home" asp-action="Index">Grande Travel</a>
                                    }
                                    else
                                    {
                                        <a asp-controller="Package" asp-action="Index">Grande Travel</a>
                                    }
                                    
                                </div>
                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <div class="banner-controls">
                                        <a asp-controller="Account" asp-action="Register">Register</a> |
                                        <a asp-controller="Account" asp-action="Login">Login</a>
                                    </div>
                                }
                                else
                                {
                                    <div class="banner-controls">
                                        <div>

                                            @* -------- Get FirstName for Customer or CompanyName for Provider *@

                                            @{
                                                ApplicationUser currentUser = await _userManagerService.FindByNameAsync(User.Identity.Name);

                                                string fullName = "";

                                                if (User.IsInRole("Provider"))
                                                {
                                                    fullName = _providerRepo.GetSingle(p => p.UserId == currentUser.Id).DisplayName;
                                                }
                                                else if (User.IsInRole("Customer"))
                                                {
                                                    fullName = _customerRepo.GetSingle(c => c.UserId == currentUser.Id).FirstName;
                                                }
                                            }

                                            <label>Welcome, @fullName! &nbsp;</label>
                                            @*<label>Welcome, @User.Identity.Name</label> *@
                                            @*background: radial-gradient(circle at center, rgba(48,191,253,1) 0%,rgba(21,91,225,1) 100%);*@
                                            <button style="margin-top: -7px; padding: 4px; border: 1px solid rgba(32,124,202,1)" class="btn btn-secondary" onclick="location.href='@Url.Action("Logout", "Account")';return false;">Logout</button>
                                        </div>
                                    </div>
                                }
                                <div class="banner-clear"></div>
                            </div>
                        </div>

                        <nav class="navbar navbar-static-top navbar-inverse">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand" asp-controller="Packages" asp-action="Index">Grande Travel</a>
                                </div>
                                <div class="collapse navbar-collapse" id="myNavbar">
                                    <ul class="nav navbar-nav">

                                        @if (User.Identity.IsAuthenticated && User.IsInRole("Provider"))
                                        {
                                            <li class="dropdown">
                                                @*<a class="dropdown-toggle" data-toggle="dropdown"><p><span class="glyphicon glyphicon-search"></span></p><span class="caret"></span><p> Packages</p></a>*@
                                                <a class="dropdown-toggle" data-toggle="dropdown"><p><span style="font-size: 14px; margin-bottom: 0px" class="glyphicon glyphicon-search"></span> Packages<span style="font-size: 10px; margin-top: 0px" class="glyphicon glyphicon-chevron-down"></span></p></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="@Url.Action("Index", "Packages", new { request = "GetAll", location="" })">All Packages</a></li>
                                                    <li><a href="@Url.Action("Index", "Packages")">Active Packages</a></li>
                                                    <li><a href="@Url.Action("Index", "Packages", new { request = "GetDiscontinued", location="" })">Discontinued Packages</a></li>
                                                </ul>
                                            </li>
                                        }
                                        else if (User.Identity.IsAuthenticated && User.IsInRole("Customer"))
                                        {
                                            <li class="dropdown">
                                                @*<a class="dropdown-toggle" data-toggle="dropdown"><p><span class="glyphicon glyphicon-search"></span></p><span class="caret"></span><p> Packages</p></a>*@
                                                <a class="dropdown-toggle" data-toggle="dropdown"><p><span style="font-size: 14px; margin-bottom: 0px" class="glyphicon glyphicon-search"></span> Packages<span style="font-size: 10px; margin-top: 0px" class="glyphicon glyphicon-chevron-down"></span></p></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="@Url.Action("Index", "Packages")">Search</a></li>
                                                    <li><a href="@Url.Action("BookedPackages", "Packages")">Booked Packages</a></li>
                                                </ul>
                                            </li>
                                        }
                                        else
                                        {
                                            <li><a href="@Url.Action("Index", "Packages")"><p><span class="glyphicon glyphicon-search"></span></p><p> Search</p></a></li>
                                        }
                                        <li><a asp-controller="Home" asp-action="Contact"><p><span class="glyphicon glyphicon-envelope"></span></p><p> Contact</p></a></li>
                                        <li><a asp-controller="Home" asp-action="About"><p><span class="glyphicon glyphicon-user"></span></p><p> About</p></a></li>
                                    </ul>

                                    @if(User.Identity.IsAuthenticated)
                                    {
                                        <ul class="nav navbar-nav navbar-right">
                                            <li class="dropdown">
                                                @*<a class="dropdown-toggle" data-toggle="dropdown"><p><span class="glyphicon glyphicon-cog"></span></p><span class="caret"></span><p> Account</p></a>*@
                                                <a class="dropdown-toggle" data-toggle="dropdown"><p><span style="font-size: 14px; margin-bottom: 0px" class="glyphicon glyphicon-cog"></span> Account<span style="font-size: 10px; margin-top: 0px" class="glyphicon glyphicon-chevron-down"></span></p></a>
                                                <ul class="dropdown-menu">
                                                    <li><a asp-controller="Account" asp-action="EditAccount">Account Settings</a></li>
                                                    <li><a asp-controller="Account" asp-action="Logout">Logout</a></li>
                                                </ul>
                                            </li>
                                        </ul>   
                                    }
                                </div>
                            </div>
                        </nav>


                    }
                }

                @*
                <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">Brand</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">Link</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#">One more separated link</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <form class="navbar-form navbar-left">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                                <button type="submit" class="btn btn-default">Submit</button>
                            </form>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="#">Link</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
                *@
        
                <div class="row">
                    <article>
                        @RenderBody()
                    </article>
                </div>


                @{
                    if (ControllerName != "Home" || ActionName != "Index")
                    {
                        <footer class="footer">
                            &copy;Copyright 2016 Grande Travel
                        </footer>
                    }
                }


            </div>
            
               
            
            
            
            @*<script src="~/lib/jquery/dist/jquery.js"></script>*@
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script>
            @*<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script> *@
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      </body>

</html>
